.mainContainer {
  background-color: var(--card-background);
  color: var(--text-color);
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  border-top: 1px solid var(--card-border);
}

.link {
  color: var(--button-background);
  text-decoration: none;
  margin: 0 5px;
}

.link:hover {
  color: var(--secondary-color);
}